@mixin stripe($amplada) {
    height: 100vh;
    width: $amplada;
    overflow: hidden;
    text-align: center;
    display: flex;
}

@mixin flex-center() {
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin animacio($color, $temps, $nom) {
    background-color: $color;
    animation-duration: $temps;
    animation-timing-function: ease-out;
    animation-name: $nom;
}
@mixin transform($skew, $sX, $sY, $opacity){
    -webkit-transform: skew($skew) scaleX($sX) scaleY($sY) translate(0, 0);
        transform: skew($skew) scaleX($sX) scaleY($sY) translate(0, 0);
        opacity: $opacity;
}